<!-- 
 
<div id="inputdiv">
    <mat-form-field appearance="fill">
    <mat-label>Enter Your Name</mat-label>
    <input #valuename id="sname" style="text-align: center;" matInput>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field appearance="fill">
    <mat-label>UG Dgress</mat-label>
    <mat-select #valuedegree>
      <mat-option value="B.E. - Mechanical Engineering">B.E. - Mechanical Engineering</mat-option>
      <mat-option value="B.E. - Mechatronics Engineering">B.E. - Mechatronics Engineering</mat-option>
      <mat-option value="B.E. - Electrical and Electronics Engineering">B.E. - Electrical and Electronics Engineering</mat-option>
      <mat-option value="B.E. - Computer Science and Engineering">B.E. - Computer Science and Engineering</mat-option>
      <mat-option value="B.Tech. - Information Technology">B.Tech. - Information Technology</mat-option>
      <mat-option value="B.E. - Civil Engineering">B.E. - Civil Engineering</mat-option>
       <mat-option value="B.Tech. - Fashion Technology">B.Tech. - Fashion Technology</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>FeedBack</mat-label>
    <textarea #valuefeedback matInput></textarea>
  </mat-form-field>
</div>
<div>
  <button (click)="getname(valuename.value,valuedegree.value,valuefeedback.value)" mat-raised-button>submit</button>
</div>

  <label id="name" >{{displayname}}</label>
  <label id="name" >{{displaydeg}}</label>
  <label id="name" >{{displayfed}}</label>
  -->











<marquee [scrollAmount]="20" id="headtext"><h1>Welcome To The Course Page !!! </h1></marquee>

 <div id="totalcontainer">  
    <div id="ugcourseheading">
        <header id="ughead">
            <h1>Under Graduate Degree</h1>
        </header>
    </div>
    <div id="ugcourse">
        <section id="ugmain">
            <h2>Course</h2>
            <ul id="oldcourse">
                <li>B.E. - Mechanical Engineering</li>
                <li>B.E. - Mechatronics Engineering</li>
                <li>B.E. - Electrical and Electronics Engineering</li>
                <li>B.E. - Computer Science and Engineering</li>
                <li>B.Tech. - Information Technology</li>
                <li>B.E. - Electronics and Communication Engineering</li>
                <li>B.E. - Civil Engineering</li>
                <li>B.Tech. - Fashion Technology</li>
                <li>B.E. - Bio Medical Engineering</li>
                <li>B.Tech. - Artificial Intelligence & Data Science</li>
            </ul>
            <h2>New Courses</h2>
            <ul id="newcourse">
                <li>B.E.- CSE( Artificial Intelligence & Machine Learning)</li>
                <li>B.E. - Computer Science and Design</li>
            </ul>
            <!-- <button id="button" style="margin-left: 180px; margin-bottom:20px"><a href="form.html" target="_blank" style="text-decoration: none; color:black">Admission</a></button> -->
    </section>
    <section id="ugimage">
        <img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbGxlZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width="650px"/>
    </section>
    </div>
    <div id="pgcourseheading">
        <header id="pghead">
            <h1>Post Graduate Degree</h1>
        </header>
    </div>
    <div id="pgcourse">
        <section id="pgimage">
            <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" width="650px"/>
        </section>
        <section id="pgmain">
            <h2>Courses</h2>
            <ul id="courses">
                <li>M.E. - Computer Science and Engineering</li>
                <li>M.Tech. - Data Science</li>
                <li>M.E. - Power Electronics and Drives</li>
                <li>M.E. - Power System Engineering</li>
                <li>M.E. - Industrial Safety and Engineering</li>
                <li>M.E. - Engineering Design</li>
                <li>M.E. - VLSI Design</li>
                <li>M.E. - Wireless and Mobile Communications</li>
                <li>M.E. - Structural Engineering</li>
                <li>M.E. - Construction Engineering & Management</li>
                <li>M.Tech. - Information Technology</li>
                <li>M.B.A. - Master of Business Administration</li>
                <li>M.C.A. - Master of Computer Applications</li>

            </ul>
            <!-- <button id="button" style="margin-left: 180px; margin-bottom:20px"><a href="form.html" target="_blank" style="text-decoration: none; color:black">Admission</a></button> -->
        </section>
       
    </div>

   
