<marquee [scrollAmount]="20" id="headtext"><h1>Welcome To The Galary Page !!! </h1></marquee>
<p onMouseOver="this.style.transform='route(180deg)'"
onMouseOut="this.style.color='#00F'">hii</p>
<div id="campus1">
    <h1>Campus</h1>
    <section id="Campus_Section">
        <ul>
            <li>
                <!-- style.transform={{totalval}} -->
                <img Class="Imges" ID="Campus_img1" runat="server"  src="././assets/images/firstimg{{index1}}.jpg" />
                <img Class="Imges" ID="Campus_img2" runat="server"  src="././assets/images/firstimg{{index2}}.jpg" />
                <img Class="Imges" ID="Campus_img3" runat="server" src="././assets/images/firstimg{{index3}}.jpg" />
                <img class="Imges" ID="Campus_img4" runat="server" src="././assets/images/firstimg{{index4}}.jpg" />
            </li>
            <li>
                <img class="Imges" ID="Campus_img5" runat="server" src="../../assets/images/firstimg{{index5}}.jpg" />
                <img class="Imges" ID="Campus_img6" runat="server" src="../../assets/images/firstimg{{index6}}.jpg" />
                <img class="Imges" ID="Campus_img7" runat="server" src="../../assets/images/firstimg{{index7}}.jpg" />
                <img class="Imges" ID="Campus_img8" runat="server" src="../../assets/images/firstimg{{index8}}.jpg" />
            </li>
        </ul>
    </section>
</div>
<div id="campus1">
    <header>
        <h1>Festivel</h1>
    </header>
    <section>
        <ul>
            <li>
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index1}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index2}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index3}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index4}}.jpg" />
            </li>
            <li>
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index5}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index6}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index7}}.jpg" />
                <img class="Imges" ID="Festival_Image1" runat="server" src="../../assets/images/second{{index8}}.jpg" />
            </li>
        </ul>
    </section>
</div>
<div id="campus1">
    <header>
        <h1>Sports</h1>
    </header>
    <section >
        <ul>
            <li>
                <img class="Imges" ID="Sports_Image1" runat="server" src="../../assets/images/third{{index1}}.jpg" />
                <img class="Imges" ID="Sports_Image2" runat="server" src="../../assets/images/third{{index2}}.jpg" />
                <img class="Imges" ID="Sports_Image3" runat="server" src="../../assets/images/third{{index3}}.jpg" />
                <img class="Imges" ID="Sports_Image4" runat="server" src="../../assets/images/third{{index4}}.jpg" /></li>
            <li>
                <img class="Imges" ID="Sports_Image5" runat="server" src="../../assets/images/third{{index5}}.jpg" />
                <img class="Imges" ID="Sports_Image6" runat="server" src="../../assets/images/third{{index6}}.jpg" />
                <img class="Imges" ID="Sports_Image7" runat="server" src="../../assets/images/third{{index7}}.jpg" />
                <img class="Imges" ID="Sports_Image8" runat="server" src="../../assets/images/third{{index8}}.jpg" /></li>
        </ul>
    </section>
</div>
