<table class="form">

    <tr><input [(ngModel)]="clicked.name" type="text" id="name"></tr>
  
    <tr><input [(ngModel)]="clicked.initial" type="text" id="initial"></tr>
  
    <tr><input [(ngModel)]="clicked.dob" type="date" id="dob"></tr>
  
    <tr><input [(ngModel)]="clicked.regno" type="number" id="regno"></tr>
  
    <tr><input [(ngModel)]="clicked.firstyear" type="number" id="firstyear"></tr>
  
    <tr><input [(ngModel)]="clicked.secondyear" type="number" id="secondyear"></tr>
  
    <tr><input [(ngModel)]="clicked.thirdyear" type="number" id="thirdyear"></tr>
  
    <tr><input [(ngModel)]="clicked.fourthyear" type="number" id="fourthyear"></tr>
  
    <tr><input [(ngModel)]="clicked.firstsem" type="number" id="firstsem"></tr>
  
    <tr><input [(ngModel)]="clicked.secondsem" type="number" id="secondsem"></tr>
  
    <tr><input [(ngModel)]="clicked.thirdsem" type="number" id="thirdsem"></tr>
  
    <tr><input [(ngModel)]="clicked.fourthsem" type="number" id="fourthsem"></tr>
  
    <tr><input [(ngModel)]="clicked.fifthsem" type="number" id="fifthsem"></tr>
  
    <tr><input [(ngModel)]="clicked.sixthsem" type="number" id="sixthsem"></tr>
  
    <tr><input [(ngModel)]="clicked.seventhsem" type="number" id="seventhsem"></tr>
  
    <tr><input [(ngModel)]="clicked.eighthsem" type="number" id="eighthsem"></tr>
  
    <tr><input type="button" value="Submit" (click)="submit()"></tr>
  
  </table>
