
<marquee [scrollAmount]="20" id="headtext"><h1>Welcome To The Home Page !!! </h1></marquee>
<!--   -->
<table id="imgtable">
    <tr>
        <th>
       
       <img id="leftarrow" src="https://cdn-icons-png.flaticon.com/512/7772/7772246.png" (click)="leftbutton()"> 
        </th>
        <th>
    <section id="showcase">
        <div class="box">
            <img id="College_image1" src={{imgurl}} alt="img" />
            <img id="College_image2" class="hover-img" src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbGxlZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="img">
        </div>
    </section>
</th>
<th>
    <img id="rigtharrow" src="https://cdn-icons-png.flaticon.com/512/7772/7772246.png" (click)="rigthbutton()">
</th>
</tr>
</table>
    <section id="main">
        <h1 id="foodtext">Description:</h1>
        <p>
            Sona College of Technology (Autonomous) is a private college in India located in Salem,
            Tamilnadu, India. It was established in 1997 by Thiru. M.S. Chockalingam (Founder Chairman)
            and gained autonomous status in 2012. It is National Board of Accreditation (NBA) accredited,[1]
            ISO certified and Accredited "A" Grade by National Assessment and Accreditation Council (NAAC).
            [2] The college affiliated with Anna University and approved by the All India Council for Technica
            Education (AICTE) of the government of India.
        </p>
        <p>
            an institution of higher learning, esp. one providing a general or liberal arts education
             rather than technical or professional training. Compare university. 2. a constituent unit 
             of a university, furnishing courses of instruction in the liberal arts and sciences, usually leading
              to a bachelor's degree.
        </p>
        <p>
            an institution of higher learning, especially one providing a general or liberal arts education rather than technical or professional training.Compare university.
a constituent unit of a university, furnishing courses of instruction in the liberal arts and sciences, usually leading to a bachelor's degree.
an institution for vocational, technical, or professional instruction, as in medicine, pharmacy, agriculture, or music, often a part of a university.
an endowed, self-governing association of scholars incorporated within a university, as at the universities of Oxford and Cambridge in England.
a similar corporation outside a university.
the building or buildings occupied by an institution of higher education.
        </p>
    </section>
   
