<marquee [scrollAmount]="20" id="headtext"><h1>Welcome To The Achievement Page !!! </h1></marquee>

<div id="tablediv">
    <section id="firstset">
        <div class="scrollmenu">
    <table>
        <tr>
            <th>S.No</th>
            <th>Year</th>
            <th>Event Name and Venue</th>
            <th>Title of presentation</th>
            <th>Students name</th>
            <th>Position</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>2015</td>
            <td>ISTE</td>
            <td>Paper Presentation</td>
            <td>C.Sai Venkata
                Vinay</td>
            <td>First prize</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>2015</td>
            <td>CADD Center</td>
            <td>Design Contest</td>
            <td>C.Sai Venkata Vinay</td>
            <td>First prize (District Level)</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>2015</td>
            <td>CADD Centre</td>
            <td>Design Contest</td>
            <td>Sundareswaran S <br>
                Sriram R <br>
                Suba <br>
                priyadharsini M <br>
                Santhiya Sri M <br>
                Roshini M <br>
                Suvadhika P S</td>
            <td>Second prize (District Level)</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>2015</td>
            <td>CADD Centre</td>
            <td>Design Contest</td>
            <td>Sowndharya C <br>
                Sudha M</td>
            <td>Third prize (District Level)</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>2015</td>
            <td>Kamraj School,<br> Namakkal	</td>
            <td>Burglar Alarm <br> Electric Shock <br> Trippler	</td>
            <td>J. Nishanth	</td>
            <td>Young Scientist</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>2015</td>
            <td>IEEE</td>
            <td>Cloud Computing <br> (Paper <br> Presentation)	</td>
            <td>C. Soundharya <br>
                M. Santhiya Sri</td>
            <td>Third prize</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>2015</td>
            <td>IEEE</td>
            <td>Nature and <br>
                Technology <br>
                (Multimedia)</td>
            <td>C.Soundharya <br>
                M.Santhiya Sri</td>
            <td>Third Prize</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>2015</td>
            <td>IEEE</td>
            <td>Biometric (paper <br>
                presentation)</td>
            <td>R.Sindhuja <br>
                K.shuruthi</td>
            <td>First prize</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>2015</td>
            <td>IEEE</td>
            <td>Paper presentation</td>
            <td>K.shruthi</td>
            <td>third prize</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>2015</td>
            <td>IIT,Madras</td>
            <td>Robo,OCEANA</td>
            <td>M. Anbarasu <br>
                S.Arun Prakash <br>
                A.A.A.Annal <br>
                Ashok kumar <br>
                Jaganth Nivas</td>
            <td>second prize</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>2015</td>
            <td>IIT,Madras</td>
            <td>Manual ROBORTICS</td>
            <td>M. Anbarasu <br>
                S.Arun Prakash <br>
                A.A.A.Annal <br>
                Ashok kumar <br>
                Jaganth Nivas</td>
            <td>Runer</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>2014</td>
            <td>Bharathidasan <br> Institute of <br>
                Technology</td>
            <td>General Quiz</td>
            <td>sagaramaan <br>
                Shrestha</td>
            <td>second prize</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>2014</td>
            <td>Bharathidasan <br> Institute of <br> Technology</td>
            <td>Best Manager & <br>
                Electrical Quiz</td>
            <td>Sagaramaan <br>
                shrestha</td>
            <td>second Prize</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>2014</td>
            <td>Bharathidasan <br> Institute of <br> Technology</td>
            <td>paper preparestion</td>
            <td>sagaramaan <br>
                Shrestha</td>
            <td>second prize</td>
        </tr>
        <tr>
            <td>15.</td>
            <td>2013</td>
            <td>Euphoria'13, <br> CIT, Coimbatore</td>
            <td>ADMAD</td>
            <td>Sona Jhununwala.</td>
            <td>second prize</td>
        </tr>
    </table>
</div>
</section> 
<!-- ./assets/images/facebookiconimag.png -->
<section id="secondset">
    <ul type="none">
    <li><img src="./assets/images/achieveimg3.png"  id="img1"  alt=""></li>
   <li id="secimg2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3ABuVLDXd7ZeO54-SkEke_Er-Ov5XYuyiNQ&usqp=CAU" id="img2" alt="">&nbsp;<img src="https://sgltechno.com/wp-content/uploads/2021/01/awards-and-achievements-header-mob.jpg"  id="img3" alt=""></li>
   <li id="thirimg3"><a><img src="./assets/images/achieveimg7.png"id="img4" alt=""></a> <img src="./assets/images/pgimage.jpg" id="img5"  alt=""></li>
   <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlK8amLRT_oz564HtjZ5vHGNF0kRv0FoO4oA&usqp=CAU" id="img6" alt=""></li>
   
</ul> 
<!-- <video src="/imagep4/video.mp4" type="video/mp4" controls autoplay></video> -->
</section>
</div>